<div class="container text-justify pages pb-5">
    <h1 class="mb4" class="animated rollIn">Contact</h1>
    Tanah airku tidak kulupakan
    Kan terkenang selama hidupku
    Biarpun saya pergi jauh
    Tidak kan hilang dari kalbu
    Tanah ku yang kucintai
    Engkau kuhargai
    Walaupun banyak negri kujalani
    Yang masyhur permai dikata orang
    Tetapi kampung dan rumahku
    Di sanalah kurasa senang
    Tanahku tak kulupakan
    Engkau kubanggakan
    ...
    Tanah airku tidak kulupakan
    Kan terkenang selama hidupku
    Biarpun saya pergi jauh
    Tidak kan hilang dari kalbu
    Tanah ku yang kucintai
    Engkau kuhargai
  </div>