<div class="container text-justify pages pb-5">
    <h1 class="mb4">Contact</h1>
    Ayo putra bangsa
  Harumkan negeri ini
  Jadikan kita bangga
  Indonesia
  Tunjukan pada dunia
  Bahwa ibu pertiwi
  Pantas jadi juara
  Indonesia
  Jayalah negaraku
  Tanah air tercinta
  Indonesia raya
  Jayalah negaraku
  Tanah air tercinta
  Indonesia raya
  Garuda di dadaku
  Garuda kebanggaanku
  Ku yakin hari ini pasti menang...
  Kobarkan semangatmu
  Tunjukkan sportivitasmu
  Ku yakin hari ini pasti menang...
  Garuda di dadaku
  Garuda kebanggaanku
  Ku yakin hari ini pasti menang...
  Kobarkan semangatmu
  Tunjukkan sportivitasmu
  Ku yakin hari ini pasti menang...
  </div>